# Copy this file to .env and update the API base URL for your environment

# local || sepolia
VITE_NODE_ENV=

# Blockchain RPC URL
VITE_LOCAL_RPC_URL=
VITE_SEPOLIA_RPC_URL=

# Local Contract Address
VITE_LOCAL_USER_REGISTRY=
VITE_LOCAL_BATCH_REGISTRY=
VITE_LOCAL_EVENT_REGISTRY=

# Sepolia Contract Address
VITE_SEPOLIA_USER_REGISTRY=
VITE_SEPOLIA_BATCH_REGISTRY=
VITE_SEPOLIA_EVENT_REGISTRY=

# Backend API Base URL
VITE_API_BASE_URL=
